



<div class="container-fluid mt-5 about-style " id="aboutid">
    <h1 class="text-center main-heading">About Us</h1>
    <p class="text-center sub-heading">grow your business with
        us</p>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto hero-text
            ">
            <figure>
                <img src="images/about.svg">
            </figure>
        </div>

        <!-- Right side -->
        <div class="col-md-10 col-12 mx-auto hero-text
            ">
            <h1>WE ARE THE PROFFESSIONAL DEVELOPERS</h1>
            <h1>GROW YOUR BUSINESS</h1>

        </div>